$brand-theme-color:#2380ff;	//品牌主题颜色
$brand-theme-color-aux:#576b95;	//品牌辅助色
$page-bg-color:#F7F7F7;	//页面背景色
$border-color:#e0e0e0;

$text-font-color-1:#000;	//文字主色
$text-font-color-2:#676767;	//副标题颜色
$text-font-color-3:#a7a7a7;	//浅色
$text-font-color-4:b2b2b2;	//更浅色

